<body>
  <header>
    <img [src]="'assets/logo.jpeg'">
    <h1> MeetingLM</h1>
  </header>

  <section>
    <aside>
      <div id="history-wrapper">
        <h2>Histórico</h2>
        <ul>
          <li> Reunião 1 </li>
          <li> Reunião 2 </li>
          <li> Reunião 3 </li>
          <li> Reunião 4 </li>
          <li> Reunião 5 </li>
          <li> Reunião 6 </li>
          <li> Reunião 7 </li>
          <li> Reunião 8 </li>
          <li> Reunião 9 </li>
          <li> Reunião 10 </li>
        </ul>
      </div>
    </aside>

    <div id="upload-wrapper">
      <div id="upload" (click)="upload()">
        <input type="file" #fileInput (change)="onFileSelected($event)" accept=".mp4,.wav,.mp3, .m4a" hidden />
        <p>Clique para o Upload</p>
      </div>
  
      <div id="tasks-wrapper">
        <span>Tarefas</span>
        <div>
          <button mat-raised-button>Transcrever</button>
          <button mat-raised-button>Resumir</button>
        </div>
      </div>

      <div id="file-options-wrapper">
        <button mat-raised-button>Limpar</button>
        <button mat-raised-button id="enviar">Enviar</button>
      </div>
    </div>
    
    <aside id="output_wrapper">
      <span>Saída {{this.current_task}}</span>
      <router-outlet></router-outlet>
    </aside>
    
  </section>
</body>


